@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  /* background-color: hsla(71, 0%, 100%, 1);
  background-image: radial-gradient(
      at 55% 11%,
      hsla(264, 66%, 84%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 20% 29%, hsla(167, 66%, 84%, 1) 0px, transparent 50%),
    radial-gradient(at 89% 30%, #bbf1c8 0px, transparent 50%),
    radial-gradient(at 23% 81%, #e8f1bb 0px, transparent 50%),
    radial-gradient(at 53% 2%, hsla(86, 66%, 84%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 92%, hsla(22, 66%, 84%, 1) 0px, transparent 50%),
    radial-gradient(at 71% 13%, hsla(27, 66%, 84%, 1) 0px, transparent 50%); */
    background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 80%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, rgb(58, 253, 204) 0px, transparent 50%),
    radial-gradient(at 10% 29%, rgb(37, 0, 139) 0px, transparent 50%),
    radial-gradient(at 97% 96%, rgb(39, 174, 204) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
}

/* to stop scrolling while menu is open */
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.no-scroll {
  overflow-y: hidden;
}

/* menu animation  */
.menu-hidden {
  opacity: 0;
  /* Start off-screen to the left */
  transform: translateX(-100%); 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu-visible {
  opacity: 1;
  transform: translateX(0); 
  /* Slide in from the left */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}